# Dependencies
node_modules/

# Build output
.next/
out/
dist/
build/

# Env files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local data and sensitive imports
*.xlsx
*.xls
*.csv
*.tsv
*.SQL-Truncated
*.SQL-Administrador
prisma/truncate_all_tables.SQL-Truncated
prisma/create_platform_admin.SQL-Administrador
NFC-e/


/src/generated/prisma

.vercel
